syntax: glob
# =============== #
# Unity generated #
# =============== #
Temp/
Library/
[Bb]uild/
[Bb]uilds/

# =FCG= #

StreamingAssets/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.csproj.meta
*.sln
*.pidb
*.suo
*.user
*.unityproj
*.booproj

UnityVS.VersionSpecific.dll
UnityVS.VersionSpecific.dll.meta
SyntaxTree.VisualStudio.Unity.Bridge.dll
SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
SyntaxTree.VisualStudio.Unity.Messaging.dll
SyntaxTree.VisualStudio.Unity.Messaging.dll.meta

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta
~*
